In [1]:
import pandas as pd

## Hasil Scraping

In [2]:
data1 = './PC1_PART1.csv'
data2 = './PC2_PART2.csv'
data3 = './PC3_PART3.csv'
data4 = './PC4_PART4.csv'
data5 = './PC5_PART5.csv'
data6 = './PC6_PART6.csv'
data7 = './PC7_PART7.csv'
data8 = './PC8_PART8.csv'
data9 = './PC9_PART9.csv'
data10 = './PC10_PART10.csv'

In [3]:
df1 = pd.read_csv(data1)
df2 = pd.read_csv(data2)
df3 = pd.read_csv(data3)
df4 = pd.read_csv(data4)
df5 = pd.read_csv(data5)
df6 = pd.read_csv(data6)
df7 = pd.read_csv(data7)
df8 = pd.read_csv(data8)
df9 = pd.read_csv(data9)
df10 = pd.read_csv(data10)

In [4]:
df1.head()

,idsbr,Query,Actual Place Name,Category,Rating,Address,Phone Number,Website,Latitude,Longitude,Status,Open Status,Operation Hours,Place,Validasi
0,96762740,"LOKET PEMBAYARAN LISTRIK PPOB PJ9P+QMG, Made, ...",Error: Multiple results - gagal semua kartu,NaN,NaN,Gagal,Gagal,Gagal,Gagal,Gagal,Error,NaN,NaN,"LOKET PEMBAYARAN LISTRIK PPOB PJ9P+QMG, Made, ...",Ditemukan
1,96763777,KLINIK PUSURA JL MAYJEND SUNGKONO NO 64 SURABAYA,Klinik Pratama Pusura Sungkono,Klinik Medis,"3,6"," Jl. Mayjen Sungkono No.64, Pakis, Kec. Sawah...",Gagal,Gagal,-7.292008,112.7231044,Aktif,Gagal,Gagal,KLINIK PUSURA JL MAYJEND SUNGKONO NO 64 SURABAYA,Ditemukan
2,96776356,"PV CELL (MUJISUHARTO) Jl. Tambak Asri No.340, ...",Error: Multiple results - gagal semua kartu,NaN,NaN,Gagal,Gagal,Gagal,Gagal,Gagal,Error,NaN,NaN,"PV CELL (MUJISUHARTO) Jl. Tambak Asri No.340, ...",Ditemukan
3,96778683,WARUNG KOPI DUKUH BULAK BANTENG NO.66A,Error: Multiple results - gagal semua kartu,NaN,NaN,Gagal,Gagal,Gagal,Gagal,Gagal,Error,NaN,NaN,WARUNG KOPI DUKUH BULAK BANTENG NO.66A,Ditemukan
4,96779963,JUALAN BAJU BAJU KELILING (SUMBERIAS) SIMO GUN...,Error: Multiple results - gagal semua kartu,NaN,NaN,Gagal,Gagal,Gagal,Gagal,Gagal,Error,NaN,NaN,JUALAN BAJU BAJU KELILING (SUMBERIAS) SIMO GUN...,Ditemukan

In [5]:
df_raw = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

## Data Scraping

In [9]:
data1 = './scrape/PC1_(1-7929).csv'
data2 = './scrape/PC2_(7930-15858).csv'
data3 = './scrape/PC3_(15859-23786).csv'
data4 = './scrape/PC4_(23787-31714).csv'
data5 = './scrape/PC5_(31715-39642).csv'
data6 = './scrape/PC6_(39643-47570).csv'
data7 = './scrape/PC7_(47571-55498).csv'
data8 = './scrape/PC8_(55499-63426).csv'
data9 = './scrape/PC9_(63427-71354).csv'
data10 = './scrape/PC10_(71355-79282).csv'

In [10]:
df1 = pd.read_csv(data1)
df2 = pd.read_csv(data2)
df3 = pd.read_csv(data3)
df4 = pd.read_csv(data4)
df5 = pd.read_csv(data5)
df6 = pd.read_csv(data6)
df7 = pd.read_csv(data7)
df8 = pd.read_csv(data8)
df9 = pd.read_csv(data9)
df10 = pd.read_csv(data10)

In [11]:
df_raw_src = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [12]:
df_raw_src.head()

,idsbr,ganda,nama_usaha,alamat_usaha
0,96815108,1,CLIQU E (DANIEL),JL SUKOMANUNGGAL JAYA 2 NO 1
1,96810800,1,JUAL AIR MINERAL (SUNARDJI),POLAK WONOREJO 4/9
2,96808518,1,SENAM YOGA (SARI),RUKO VILLA BUKIT MAS BLOK RB 02
3,96822099,1,TOKO KELONTONG (ERA),PANDEELLINGI 71
4,96812939,1,DEPOT BALIWERTI,GALAXY MALL LT 3 FOOD GALAXY

In [6]:
df_raw.head()

,idsbr,Query,Actual Place Name,Category,Rating,Address,Phone Number,Website,Latitude,Longitude,Status,Open Status,Operation Hours,Place,Validasi
0,96762740,"LOKET PEMBAYARAN LISTRIK PPOB PJ9P+QMG, Made, ...",Error: Multiple results - gagal semua kartu,NaN,NaN,Gagal,Gagal,Gagal,Gagal,Gagal,Error,NaN,NaN,"LOKET PEMBAYARAN LISTRIK PPOB PJ9P+QMG, Made, ...",Ditemukan
1,96763777,KLINIK PUSURA JL MAYJEND SUNGKONO NO 64 SURABAYA,Klinik Pratama Pusura Sungkono,Klinik Medis,"3,6"," Jl. Mayjen Sungkono No.64, Pakis, Kec. Sawah...",Gagal,Gagal,-7.292008,112.7231044,Aktif,Gagal,Gagal,KLINIK PUSURA JL MAYJEND SUNGKONO NO 64 SURABAYA,Ditemukan
2,96776356,"PV CELL (MUJISUHARTO) Jl. Tambak Asri No.340, ...",Error: Multiple results - gagal semua kartu,NaN,NaN,Gagal,Gagal,Gagal,Gagal,Gagal,Error,NaN,NaN,"PV CELL (MUJISUHARTO) Jl. Tambak Asri No.340, ...",Ditemukan
3,96778683,WARUNG KOPI DUKUH BULAK BANTENG NO.66A,Error: Multiple results - gagal semua kartu,NaN,NaN,Gagal,Gagal,Gagal,Gagal,Gagal,Error,NaN,NaN,WARUNG KOPI DUKUH BULAK BANTENG NO.66A,Ditemukan
4,96779963,JUALAN BAJU BAJU KELILING (SUMBERIAS) SIMO GUN...,Error: Multiple results - gagal semua kartu,NaN,NaN,Gagal,Gagal,Gagal,Gagal,Gagal,Error,NaN,NaN,JUALAN BAJU BAJU KELILING (SUMBERIAS) SIMO GUN...,Ditemukan

In [14]:
# Cari data idsbr yang ada di df_raw tetapi tidak ada di df_raw_src
idsbr_not_in_src = df_raw[~df_raw['idsbr'].isin(df_raw_src['idsbr'])]

# Cari data idsbr yang ada di df_raw_src tetapi tidak ada di df_raw
idsbr_not_in_raw = df_raw_src[~df_raw_src['idsbr'].isin(df_raw['idsbr'])]

# Tampilkan hasil
# print("IDs in df_raw but not in df_raw_src:")
# print(idsbr_not_in_src)

# print("\nIDs in df_raw_src but not in df_raw:")
# print(idsbr_not_in_raw)

In [ ]:
idsbr_not_in_raw

In [7]:
# df_raw.to_csv('data_scraping_10feb_raw.csv', index=False)